<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-section">
                <div class="footer-logo"><img src="./images/logo.png" alt="Haidery Guarding LTD logo"></div>
                <p>UK registered security company delivering reliable and professional solutions.</p>
                <div class="social-links">
                    <a href="#"><img src="./images/facebook-app-symbol.png" alt="Facebook"></a>
                    <a href="#"><img src="./images/message.png" alt="LinkedIn"></a>
                    <a href="#"><img src="./images/twitter.png" alt="Twitter"></a>
                </div>
            </div>

            <div class="footer-section">
                <h4>Company</h4>
                <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Address</h4>
                <p>708 Alum Rock Road, Birmingham<br>B8 3NU, United Kingdom</p>
            </div>

            <div class="footer-section">
                <h4>Contact</h4>
                <p><a href="tel:+447526551885">+44 7526551885</a></p>
                <p><a href="mailto:info@haideryguardingltd.co.uk">info@haideryguardingltd.co.uk</a></p>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <!-- <p>The Registrar of Companies for England and Wales.</p> -->
                <p><b>Company Registration No :</b> 17123919</p>
                <p><b>Company Representative :</b> M.ABUZAR</p>
            </div>
            <!-- <p class="footer-credit">Develop &amp; Design by Dev Geeks Ltd</p> -->
        </div>
    </div>
    <p class="copyright">Copyright &copy; 2026 HAIDERY GUARDING LTD.</p>
</footer>
